.selector {
  position: relative;
  display: inline-block;

  color: rgba(0, 0, 0, 0.6);

  &__button {
    width: 240px;
    height: 60px;

    border: 1px solid #393939;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    outline: none;
    background-color: white;
  }

  &__text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  &__menu {
    position: absolute;
    top: 110%;
    left: 0;

    padding: 10px 14px;

    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    background-color: white;
    z-index: 10;
  }

  &__item {
    &:hover {
      cursor: pointer;
    }
  }

  &--small {
    .selector__button {
      width: 94px;
      height: 21px;
      padding: 2px 4px;
      font-size: 14px;
    }

    .selector__menu {
      width: 94px;
      top: 24px;
      padding: 5px;
    }
  }

  &--big {
    .selector__button {
      width: 240px;
      max-width: 240px;
      height: 60px;
      padding: 16px 8px;
    }

    .selector__menu {
      width: 100%;
      max-width: 240px;
      top: 68px;
    }
  }
}

.icon-arrow {
  color: rgba(0, 0, 0, 0.6);
}

.icon-arrow--small {
  width: 4px !important;
  height: 4px !important;
}

.icon-arrow--big {
  width: 10px !important;
  height: 10px !important;
}
