.option__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: black;
  }
}

.option__text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.option__text--small {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.option__text--big {
  font-size: 16px;
  line-height: 19px;
}
