.character__card {
  position: relative;

  padding: 7px;

  width: 508px;
  height: 248px;

  display: flex;
  gap: 13px;
  align-items: center;

  border-radius: 6px;

  background-color: white;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 0.25);

  &:hover {
    .character__buttons-wrapper {
      opacity: 1;
    }
  }
}

.character__image {
  width: 240px;
  height: 234px;
  border-radius: 6px;
}

.character__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.character__heading {
  font-size: 16px;
  margin: 0;
}

.character__buttons-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.character__edit-button {
  cursor: pointer;
}

.character__status {
  display: flex;
  align-items: center;
  gap: 4px;
}
