.character__card {
  padding: 7px;

  width: 508px;
  height: 248px;

  display: flex;
  gap: 13px;
  align-items: center;

  border-radius: 6px;

  background-color: white;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 0.25);
}

.character__image {
  width: 240px;
  height: 234px;
  border-radius: 6px;
}

.character__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.character__heading {
  font-size: 16px;
  margin: 0;
}
