.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.character-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
