.status-dot__wrapper {
  display: inline-block;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  &.bg-green-500 {
    background-color: #10b981;
  }

  &.bg-red-500 {
    background-color: #ef4444;
  }

  &.bg-orange-400 {
    background-color: #fb923c;
  }
}
