.header {
  width: 100vw;
  height: 60px;
  background-color: white;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.header__wrapper {
  padding: 0 16px;
  margin-inline: auto;

  max-width: 1280px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  gap: 16px;
}

.header__button_text {
  font-size: 24px;
}
