.character__row {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.character__title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #3f3f3f;
}

.character__value {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
